{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="uname" placeholder="User Name">
        <br><br>
        <input type="password" name="pwd" placeholder="Password">
        <br><br>
        <input type="checkbox" name="chk" placeholder="Password"/>Remember me for 10 days
        <br><br>
        <input type="submit" name="submit" value="Login">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
        
    </form>


{% endblock %}