{% extends 'base.html' %}
{% block title %}Signup{% endblock %}

{% block body %}
    <h2>Signup</h2>

    <form method="POST">
        
        {% csrf_token %}
        <input type="text" name="uname" placeholder="Username">
        <br><br>
        <input type="password" name="pwd" placeholder="Password">
        <br><br>
        <input type="password" name="rpwd" placeholder="Password again">
        
        <br><br>
        <input type="submit" name="submit" value="Sign Up"> 
        <br><br>
        {% if messages%}
            {% for message in messages %}
                {%if "username" in message.tags %}
                    <p> {{message}} </p>   
                {%endif%}
            {% endfor %}
        {% endif %}

        {% if messages%}
        {%for message in messages %}
            {%if "match" in message.tags %}
                <p> {{message}} </p>   
            {%endif%}
        {%endfor%}
        {% endif %}
    </form>


{% endblock %}